.content {
  text-align: center;
}
.title {
  color: blue;
}
.stopWatch {
  font-size: 100px;
  color: blue;
}
.miliseconds {
  display: block;
  font-size: 15px;
}
p {
  font-size: 20px;
}
